
<div mat-dialog-title style="width: 100%;display: flex;padding: 9px 24px 9px;">
  <label style="width: -webkit-fill-available;">{{distance.length}} - {{distance.name}}</label>
  <button type="button" mat-dialog-close class="btn btn btn-light btn-sm bi bi-x-lg"></button>
</div>
<div mat-dialog-content style="font-size: 14px">
  <div class="row">
    <div class="col-6" style="align-self: center;">
      <table class="table table-borderless table-sm unsetBorderTableRow">
        <tbody>
        <tr *ngIf="generalUtils.sumDistanceByDistance(distance)">
          <td><b>Hossz</b></td><td>{{generalUtils.sumDistanceByDistance(distance)}} km</td>
        </tr>
        <tr *ngIf="generalUtils.sumAllElevationByDistance(distance)">
          <td><b>Összes szintemelkedés</b></td><td>{{generalUtils.sumAllElevationByDistance(distance)}} m</td>
        </tr>
        <tr *ngIf="distance.startPlace">
          <td><b>Rajt helyszíne</b></td><td>{{distance.startPlace}}</td>
        </tr>
        <tr *ngIf="distance.finishPlace">
          <td><b>Cél helyszíne</b></td><td>{{distance.finishPlace}}</td>
        </tr>
        <tr *ngIf="distance.startTimeFrom || distance.startTimeTo">
          <td><b>Rajtidő</b></td><td>{{generalUtils.getLocaleDateTimeString(distance.startTimeFrom)}} - {{generalUtils.getLocaleDateTimeString(distance.startTimeTo)}}</td>
        </tr>
        <tr *ngIf="distance.timeLimit">
          <td><b>Szintidő</b></td><td>{{distance.timeLimit}}</td>
        </tr>
        <tr *ngIf="distance.rewards">
          <td><b>Díjazás</b></td><td>{{distance.rewards}}</td>
        </tr>
        <tr *ngIf="distance.price">
          <td><b>Nevezési díj</b></td><td>{{distance.price}} Ft</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="distance.description" class="col-6" style="align-self: center;">
      <b>Leírás</b>
      <br>
      <label>{{distance.description}}</label>
    </div>
  </div>
  <div class="row" *ngIf="distance.subSections">
    <div class="col-12">
      <button style="width: 100%" type="button" class="btn btn-outline-success btn-sm bi bi-person-add"> Nevezek a Túrára</button>
    </div>
  </div>
  <div class="row" *ngIf="distance.gpxURL || distance.descriptionURL || distance.mapURL">
    <div class="col-12">
      <b>Letölthető tartalmak</b><br>
      <div>
        <button *ngIf="distance.gpxURL"  style="margin-right: 10px" type="button" (click)="redirectToDownload(distance.gpxURL,'_gpx')" class="btn btn-outline-success bi bi-download btn-sm"> GPX Letöltése</button>
        <button *ngIf="distance.descriptionURL" style="margin-right: 10px" type="button" (click)="redirectToDownload(distance.descriptionURL,'_leírás')" class="btn btn-outline-success bi bi-download btn-sm"> Térkép Letöltése</button>
        <button *ngIf="distance.mapURL" style="margin-right: 10px" type="button" (click)="redirectToDownload(distance.mapURL,'_térkép')" class="btn btn-outline-success bi bi-download btn-sm"> Útvonalleírás Letöltése</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="distance.receiptOfItineraryFrom || distance.receiptOfItineraryTo || distance.receiptOfItinerary">
    <div class="col-12">
      <b>Túrafüzet átvétel</b><br>
      <label *ngIf="distance.receiptOfItineraryFrom || distance.receiptOfItineraryTo">{{generalUtils.getLocaleDateString(distance.receiptOfItineraryFrom)}} ({{generalUtils.getDayName(distance.receiptOfItineraryFrom)}}) {{generalUtils.getLocaleTimeHourMinString(distance.receiptOfItineraryFrom)}} - {{generalUtils.getLocaleTimeHourMinString(distance.receiptOfItineraryTo)}}</label>
      <br *ngIf="distance.receiptOfItineraryFrom || distance.receiptOfItineraryTo">
      <label *ngIf="distance.receiptOfItinerary">Átvétel helye:{{'\n'+distance.receiptOfItinerary}}</label>
    </div>
  </div>
  <div class="row" *ngIf="distance.timekeepingType">
    <div class="col-12">
      <b>Időmérés módja</b>
      <label *ngIf="distance.timekeepingType">{{distance.timekeepingType}}</label><br>
    </div>
  </div>

  <div class="row" *ngIf="distance.subSections">
    <div class="col-12">
      <b>Útvonal</b>
      <ul style="list-style-image: url('assets/icons/chevron-compact-right.svg');     display: flex;">
        <li style="margin-left: 30px;" *ngFor="let section of distance.subSections">{{section.checkpointFrom ? section.checkpointFrom.name : ''}}</li>
      </ul>
    </div>
  </div>
  <div class="row" style="justify-content: center;">
    <div class="col-11">
      <div   id="map" style="height:500px;"></div>
    </div>
  </div>

<!--  <div style="height: 300px;" leaflet [leafletOptions]="options">
  </div>-->
<!--  <div    style="height:900px;"></div>-->
  <div class="row" *ngIf="distance.distanceSubsections">
    <div class="col-12">
      <b>Útvonal részletes táblázat</b>
      <section class="table-container mat-elevation-z2" tabindex="0">
      <table class="table table-sm">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th >Résztáv (km)</th>
          <th >Összesített Táv (km)</th>
          <th >Részszint (m)</th>
          <th >Összesített Szint (m)</th>
          <th >Jelzések</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ds of distance.distanceSubsections">
          <td style="">{{ds?.subSection?.checkpointFrom?.name}}
            <i *ngIf="ds?.subSection?.checkpointFrom?.isMainCheckpoint" style="font-weight: bold; font-size: 20px" class="bi bi-card-checklist" matTooltip="Ellenőrzőpont"></i>
            <i *ngIf="ds?.subSection?.checkpointFrom?.checkingType == generalUtils.CHECKING_TYPE_PERSONAL" style="padding-left:5px; font-size: 20px" class="bi bi-person" matTooltip="Személyes ellenörzőpont"></i>
            <i *ngIf="ds?.subSection?.checkpointFrom?.checkingType == generalUtils.CHECKING_TYPE_CODE" style="padding-left:5px; font-size: 20px" class="bi bi-spellcheck" matTooltip="Kódos ellenörzőpont"></i>
          </td>
          <td>{{ds?.subSection?.checkpointTo?.name}}
            <i *ngIf="ds?.subSection?.checkpointTo?.isMainCheckpoint" style="font-weight: bold; font-size: 20px" class="bi bi-card-checklist" matTooltip="Ellenőrzőpont"></i>
            <i *ngIf="ds?.subSection?.checkpointTo?.checkingType == generalUtils.CHECKING_TYPE_PERSONAL" style="padding-left:5px; font-size: 20px" class="bi bi-person" matTooltip="Személyes ellenörzőpont"></i>
            <i *ngIf="ds?.subSection?.checkpointTo?.checkingType == generalUtils.CHECKING_TYPE_CODE" style="padding-left:5px; font-size: 20px" class="bi bi-spellcheck" matTooltip="Kódos ellenörzőpont"></i>
          </td>
          <td>{{ds?.subSection?.subLength}}</td>
          <td>{{generalUtils.getSublistDistanceSum(distance.distanceSubsections, ds)}}</td>
          <td>{{ds?.subSection?.subElevationGain}}</td>
          <td>{{generalUtils.getSublistElevationSum(distance.distanceSubsections, ds)}}</td>
          <td>
            <a class="tavicon" *ngFor="let marking of ds?.subSection?.markings" >
              <img height="18" *ngIf="marking.marking" [src]="marking.marking.url" matTooltipPosition="above" [matTooltip]="marking.marking.name ? marking.marking.name : ''" style="margin-right: 5px; box-shadow: 2px 2px 2px 0px #00000033;">
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      </section>
    </div>
  </div>


</div>
<div mat-dialog-actions>
</div>
