<div style="padding-top: 70px; padding-bottom: 50px; width: 100%" align="center">
  <mat-card style="background-color: #0000000a">
    <mat-card-header style="justify-content: center;"><h1><b>Fontos tudnivalók</b></h1></mat-card-header>
    <mat-card-content>
      <div>
      <b>Az alábbiakban összegyűjtöttük számodra a legfontosabb tudnivalókat, melyek segítségedre lehetnek a túra sikeres teljesítésében! Bízunk benne, hogy számos élményben lesz részed az ösvényeket járva.</b>
      <br>
      Amiket semmiképp se felejts otthon:
      <li>feltöltött mobiltelefon</li>
      <li>bármikor elérhető itiner és térkép (nyomtatott formában, vagy letöltve a telefonodon)</li>
      <li>powerbank</li>
      <li>izolációs fólia</li>
      <li>megfelelő mennyiségű folyadék és étel, csoki / energiaszelet</li>
      <li>a terep és időjárási viszonyoknak megfelelő felszerelés (pl.: túrabot, fejlámpa, esőkabát, stb…)</li>
      <br>
      Ezeken felül azt javasoljuk, hogy értesítsd legalább egy közeli ismerősödet arról, hogy éppen melyik útvonalat teljesíted.
        <br>
      Javasoljuk, hogy indulás előtt alaposan tanulmányozd át az előtted álló szakaszokat, nézd át a szintmetszetet, a jelzésváltásokat, különösen figyelj az Ódorvár és a Látogatóközpont között található jelzetlen szakaszra!
        <br>
      Kérünk, utad során kiemelten figyelj a környezet védelmére, minimalizáld a műanyaghasználatot. A túra során keletkező hulladékot hozd ki az erdőből és a célba érést követően helyezd el a megfelelő módon.
        <br>
      Innen már tényleg csak az első lépések vannak hátra – azaz előre :) – sikeres teljesítést kívánunk!
      </div>
    </mat-card-content>
  </mat-card>
</div>
