<nav class="navbar navbar-inverse navbar-expand-sm navbar-light bg-light fixed-top" style="display: flex;">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="https://bukkinyulsz.hu/#/leiras/hu/index">Általános</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://bukkinyulsz.hu/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Távok</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/60">60</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/35">35</a>

          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/26">26</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/13">13</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/10">10</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="https://bukkinyulsz.hu/event/tt2022/nevezes">Nevezés</a></li>
      <li class="nav-item"><a class="nav-link" href="https://bukkinyulsz.hu/#/leiras/hu/tudnivalok">Fontos tudnivalók</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://bukkinyulsz.hu/" id="navbarDropdownEredmenyek" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Eredmények</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/stat/nevsor">Bükkinyúlsz 2022 TT</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/teljesitok">GeoGo eredmények</a>

          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="https://bukkinyulsz.hu/#/leiras/hu/kapcsolat">Kapcsolat</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<img src="assets/images/logo/logo10.png">

out
