<nav class="navbar justify-content-center  navbar-expand-sm navbar-light bg-light fixed-top" style="display: flex;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
    <ul class="navbar-nav justify-content-center  ">
      <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" ><i style="font-size: 15px" class="bi bi-house"></i> Főoldal</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://bukkinyulsz.hu/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Távok
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let item of distanceList" (click)="openTavDialog(item)">{{item.length}} - {{item.name}}</a>
<!--          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/60">60</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/35">35</a>

          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/26">26</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/13">13</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/10">10</a>-->
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="https://bukkinyulsz.hu/event/tt2022/nevezes">Nevezés</a></li>
      <li class="nav-item"><a class="nav-link" href="https://bukkinyulsz.hu/#/leiras/hu/tudnivalok">Fontos tudnivalók</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://bukkinyulsz.hu/" id="navbarDropdownEredmenyek" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Eredmények
        </a>
        <div class="dropdown-menu" uib-dropwdown-menu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/stat/nevsor">Bükkinyúlsz 2022 TT</a>
          <a class="dropdown-item" href="https://bukkinyulsz.hu/#/leiras/hu/teljesitok">GeoGo eredmények</a>

          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="https://bukkinyulsz.hu/#/leiras/hu/kapcsolat">Kapcsolat</a></li>
      <li class="nav-item dropdown">
        <a style="color: #00227b" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>ADMIN FELÜLET</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-item dropdown-item" routerLink="/admin-page/login" routerLinkActive="active">Bjelentkezés</a>
          <div class="dropdown-divider"></div>
          <a class="nav-item dropdown-item" routerLink="/admin-page/event" routerLinkActive="active">Események kezelése</a>
          <a class="nav-item dropdown-item" routerLink="/admin-page/distances" routerLinkActive="active">Távok kezelése</a>
          <a class="nav-item dropdown-item" routerLink="/admin-page/subSection" routerLinkActive="active">Szakaszok kezelése</a>
          <a class="nav-item dropdown-item" routerLink="/admin-page/checkpoint" routerLinkActive="active">Ellenőrzőpontok kezelése</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<div style="width: 100%; text-align: -webkit-right;">
  <div class=""
       style="margin:0px 0px 0px 0px; box-shadow: 0px 0px 20px 10px rgba(180,180,180,0.5);width: 100%; background-color: #fff; padding: 10px;">
    <footer class="">
      <ul class="nav justify-content-center border-bottom "
          style="display: flex;justify-content: center;">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Főoldal</a></li>
      </ul>
      <ul class="nav justify-content-center border-bottom " style="display: flex;justify-content: center; padding: auto;">
        <li class="transform"><a style="color: black; font-size: 30px" title="Facebook" class="bi bi-facebook" href="https://www.facebook.com/subalyukmuzeumeslatogatokozpont/"></a></li>
        <li class="transform"><a style="color: black; font-size: 30px" title="Instagram" class="bi bi-instagram"></a></li>
        <li class="transform"><a style="color: black; font-size: 30px" title="Email" class="bi bi-envelope-at " href="mailto:info@bukkinyulsz.com"></a></li>
      </ul>
      <ul class="nav justify-content-center border-bottom" style="display: flex;justify-content: center;">
        <li class="nav-item" style=" padding: 5px"><a href="https://bukkinyulsz.hu/#/leiras/hu/gdpr">Adatkezelési szabályzat</a></li>
        <li class="nav-item" style=" padding: 5px"><a href="https://bukkinyulsz.hu/#/leiras/hu/aszf">ÁSZF</a></li>
      </ul>
      <div>
        <p class="text-center text-muted" style="margin: unset;">A BükKiNyúlsz! túrák szervezője a NA,
          Gyere Inkább Mozogni! Természetjáró és Ismeretterjesztő Egyesület.</p>
        <p class="text-center text-muted" style="margin: unset;">NAGY-IM Egyesület</p>
        <p class="text-center text-muted" style="margin: unset;">Székhely: 4445 Nagycserkesz, Vasvári
          Pál u. 12.</p>
        <p class="text-center text-muted" style="margin: unset;">Adószám: 19210977-1-15</p>
        <p class="text-center text-muted" style="margin: unset;">Tel: +36 30 360 7924</p>
        <p class="text-center text-muted" style="margin: unset;">Bank: OTP 11738015-21397444-00000000
        </p>
      </div>
      <br>
      <p class="text-center text-muted">© 2023 NAGY-IM Egyesület</p>
    </footer>
  </div>

</div>
