
::ng-deep  .mat-row, tr.mat-footer-row {
  height: 10px !important;
}

::ng-deep .info-snackbar {
  --mat-mdc-snack-bar-button-color: #000000;
  --mdc-snackbar-container-color: #ffffff;
  --mdc-snackbar-supporting-text-color: rgba(0, 0, 0, 0.87);
}

::ng-deep .warn-snackbar {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-container-color: #ff8000;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

::ng-deep .error-snackbar {
  --mat-mdc-snack-bar-button-color:  #ffffff;
  --mdc-snackbar-container-color: #ff0000;
  --mdc-snackbar-supporting-text-color: #ffffff;
}




/*
::ng-deep.mdc-data-table__header-cell {
  text-align: center !important;
}

::ng-deep.mdc-data-table__row:last-child .mdc-data-table__cell {
  text-align-last: center !important;
}*/

/*
 .dropdown-submenu {
   position: relative;
 }


.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
*/

/*

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
*/

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}




::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto
}

::ng-deep.mat-mdc-form-field {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*
nem jelent meg emiatta a hint
::ng-deep.mat-mdc-form-field-subscript-wrapper{
  display: none;
}
*/

::ng-deep.mat-mdc-dialog-container .mdc-dialog__content{
  height: 100%;
}

::ng-deep.mat-mdc-form-field-infix {
  min-height: unset;
}

::ng-deep.mat-mdc-tab-body.mat-mdc-tab-body-active {
  overflow-y: hidden!important;

}


.navbar-collapse{
  text-align: -webkit-center;
}

.navbar , .navbar .navbar-form {
  display: flex !important;
  justify-content: center;
}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover {
  background-color: unset !important;
}
.navbar .navbar-nav>.active>a {
  font-weight: bolder !important;
  background-color: unset !important;
  color: #4cb33ddb !important;
  text-decoration: underline !important;
}

.navbar .navbar-nav>.active>a:hover {
  font-weight: bolder !important;
  background-color: unset !important;
  color: #4cb33ddb !important;
  text-decoration: underline !important;
}
label{
  white-space: pre-wrap !important;
}

.navbar .navbar-nav>li>a {
  color: #000000 !important;
}

.navbar .navbar-nav>li>a:hover {
  background-color: unset !important;
  color: #000 !important;
  border-radius: 45px !important;
  text-decoration: underline !important;
}
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar {
  background-color: #ffffffdb !important;
  border: unset !important;
  box-shadow: 0px 10px 70px 30px #fff !important;
}






::ng-deep.mat-mdc-tab-body-content {
  overflow: unset !important;
}

.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

::ng-deep.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  width: auto !important;
}
/*
::ng-deep.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: unset;
}*/






/*table css*/
