<div>
  <div style="width: 100%;text-align-last: start;">
    <mat-form-field floatLabel="always" appearance="outline" *ngIf="inputTourEvent == undefined" style="width: 300px">
      <mat-label>Kiválasztott esemény</mat-label>
      <mat-select [(ngModel)]="this.selectedTourEvent"  (selectionChange)="tourEventSelectionChange()">
        <mat-option *ngFor="let tourEvent of availableTourEvents" [value]="tourEvent" >{{tourEvent.name }} {{generalUtils.getYearString(tourEvent.dateOfEvent)}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedTourEvent" style="width: 100%;text-align-last: start;">
    <button  class="btn btn-outline-success dropdown dropdown-toggle btn-sm" type="button" data-toggle="dropdown" >Menü</button>
    <div class="dropdown dropdown-menu" >
      <button class="dropdown-item btn-sm" (click)="addNew()"> Új szakasz hozzáaadása</button>
      <div *ngIf="selection.selected.length > 0">
        <div class="dropdown-divider"></div>
        <button class="dropdown-item btn-sm" (click)="changeActiveStatus(true)"> Összes kiválasztott aktiválása ({{selection.selected.length}} db)</button>
        <button class="dropdown-item btn-sm" (click)="changeActiveStatus(false)"> Összes kiválasztott deaktiválása ({{selection.selected.length}} db)</button>
      </div>
    </div>
    <input type="text" (keyup)="doFilter($event)" class="form-control form-control-sm"  placeholder="Keresés">
  </div>
  <table mat-table [dataSource]="tourEventDistanceMatTableDataSource" matSort class="mat-elevation-z1" style="width: 80%">
    <ng-container matColumnDef="select" >
      <th mat-header-cell *matHeaderCellDef  style="width: 50px">
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      color="primary">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      color="primary">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="id" >
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 50px">#</th>
      <td mat-cell *matCellDef="let item"> {{item.distance.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name" >
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let item"> {{item.distance?.name}} </td>
    </ng-container>
    <ng-container matColumnDef="length" >
      <th mat-header-cell mat-sort-header *matHeaderCellDef >Hossz</th>
      <td mat-cell *matCellDef="let item"> {{item.distance?.length}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <div style="    display: flex;justify-content: flex-end;">
          <button type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 5px" (click)="openEdit(item.distance)" ><i class="bi bi-pencil"></i></button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteItem(item.distance)"><i class="bi bi-trash3"></i></button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="distancesDisplayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: distancesDisplayedColumns; " (select)="selection.toggle(row)"></tr>
  </table>

</div>

