/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;
@import "~@coreui/coreui-pro/scss/coreui";

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;@import "~@coreui/coreui-pro/scss/coreui"; }

label, b, tr, td{
  white-space: pre-wrap !important;
}

.table-container{
  max-width: 100%!important;
  overflow: auto !important;
}


@media (min-width: 992px){
  .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }
  .dropdown-menu .dropdown-menu{
    margin-left:0; margin-right: 0;
  }
/*  .dropdown:hover .mainMenu {
    display: block;
    margin-top: 0;
  }*/
  .dropdown-menu li{
    position: relative;
  }
  .nav-item .submenu{
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }
  .nav-item .submenu-left{
    right:100%; left:auto;
  }
  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
}
