/*
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


::ng-deep label {
  margin-bottom: unset !important;
}
.spinner-border{
  --cui-spinner-width: 10rem !important;
  --cui-spinner-height: 10rem !important;
}

.loading{
  position: absolute;
  left:0;
  top:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; height: 100vh; background-color: #2eb85c3b;

}

*/
